body {
    max-width: 100%;
    display: block;
    margin: -1em;
}

.header {
    margin: 0px;
    padding: -30px;
}

.logo {
        max-width: 100%;
        height: auto;
}

.main {
    background-image: url(images/pattern.jpg);
    padding: -30px;
    margin: -1.2em;
    display: block;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    margin: -1em;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

li {
    font-weight: bold;
}

h2 {
    text-align: center;
}

.footer {
    background-color:rgb(169, 164, 199);
}

h3 {
    font-family:cursive;
}

.contact {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 2px;
}

a:hover {
    color:rgb(0, 183, 255);
}

a:visited {
    color:rgb(122, 0, 0);
}